<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ShopOrders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ShopOrders.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source={0};Initial Catalog={1};User ID={2};Password={3}</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ShopOrders</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Oberon</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>(local)</value>
            </setting>
        </ShopOrders.Properties.Settings>
    </userSettings>
</configuration>
