<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ShopOrdersEntities" connectionString="metadata=res://*/Data.ReportData.csdl|res://*/Data.ReportData.ssdl|res://*/Data.ReportData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ShopOrders;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="OrdersViewReport.Properties.Settings.ShopOrdersConnectionString"
      connectionString="Data Source=(local);Initial Catalog=ShopOrders;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>