<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.ShopOrdersConnectionString1"
            connectionString="Data Source=MI001-WS00071;Initial Catalog=ShopOrders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ShopOrdersConnectionString"
            connectionString="Data Source=mi001-db01;Initial Catalog=ShopOrders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ShopOrders_TestingConnectionString"
            connectionString="Data Source=MI001-DB01;Initial Catalog=ShopOrders_Testing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ShopOrdersConnectionString2"
            connectionString="Data Source=(local);Initial Catalog=ShopOrders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ShopOrders_PVXConnectionString"
            connectionString="Data Source=MI001-DB01;Initial Catalog=ShopOrders_PVX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>